html {
    height: 100%;
}

body {
    margin: 0;  
    color: #fff; 
    background-color: #ffebbf; 
    background-image: url(image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif; 
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    
    justify-content: flex-start; 
}

.logo {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(126, 126, 126);
    width: 160px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
}

.conteudo {
    height: 30vh;
    width: 30vw;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    backdrop-filter: blur(5px);
    border-radius: 15px;    
    position: absolute;
    top: 10%;
    
    transform: translateX(100%);
}



.titulo {
    font-size: 2rem; 
    margin: 10px 0; 
    color: #ef9338;
}

.subtitulo {
    margin-bottom: 20px;
    font-size: 1.1rem; 
}

button {
    width: 200px;
    border: none;
    padding: 10px; 
    border-radius: 20px;
    background-color: #ef9338; 
    color: white;
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

button:hover {
    background-color: #d78429;
}